{% extends 'index.html' %}
{% load static %}


<!DOCTYPE html>

{% block titulo%}Gestionar País{% endblock titulo%}

{% block section %}Crear País{% endblock section %}

{% block content%}

<div class="card col-6 mb-4 py-3 border-left-success">
  <div class="col-12">
    <!-- Form -->
    <form method="POST">
      {%csrf_token%}
      {{pais_form.nombre}}

      <hr>
      <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
        <i class="fa fa-plus"></i> Crear
      </button>

      <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="float: right;margin: 1%;">
        <i class="fa fa-reply"></i> Volver
      </button>

    </form>
    <!--end Form -->
  </div>
</div>

<!-- List -->
{% if paises %}
<div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-secondary">Listado de paises</h6>
        </div>
        <div class="card-body">
          <!-- <div class="table-responsive"> -->
            <table class="table table-bordered dataTable" id="dataTable">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>País</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pais in paises %}
                  <tr>
                    <td style="text-align: left;">{{pais.pk}}</td>
                    <td style="text-align: left;">{{pais.nombre}}</td>
                    <td width="10%" align="center">
                          <div class="table-data-feature">
                            <button type="button" class="btn btn-warning btn-sm" onclick="location.href='{% url 'configuracion:editar_pais' pais.pk %}'">
                              <i class="fas fa-paint-brush"></i>
                            </button>
                            <!-- Modal Eliminar -->
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2{{pais.pk}}">
                              <i class="fas fa-trash"></i>
                            </button>
                            <div class="modal fade bs-example-modal-lg2{{pais.pk}}" id="myModal2{{pais.pk}}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel{{pais.pk}}">Confirmar Eliminacion</h4>
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <a>¿Está seguro de <strong>eliminar</strong> el país?</a>
                                        </div>
                                        <div class="modal-footer">
                                          <div class="alineado-derecha">
                                            <a href="{% url 'configuracion:eliminar_pais' pais.pk %}">
                                              <button type="button" class="btn btn-danger" >Eliminar</button>
                                            </a>
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Modal -->
                          </div>
                      </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
          </div>
</div>
{% endif %}
<!-- end List -->

<!-- Messages -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

{% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success'%}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "{{ message }}",
          type: "success",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
      {% if message.tags == 'warning' %}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "{{ message }}",
          type: "warning",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
      {% if message.tags == 'error' %}
      <script type="text/javascript">
        $(document).ready(function(){
          swal({
          title: "{{ message }}",
          type: "error",
          confirmButtonColor: "#4e73df",
          confirmButtonText: "Aceptar",
          closeOnConfirm: false
        })});
      </script>
      {% endif %}
    {% endfor %}
{% endif %}

<!-- end Messages -->

{% endblock content%}
